.DS_Store
Clipboard.xcodeproj/project.xcworkspace/xcuserdata/ceili.xcuserdatad/UserInterfaceState.xcuserstate
Clipboard.xcodeproj/project.xcworkspace/xcuserdata/wrcb78.xcuserdatad/UserInterfaceState.xcuserstate
