.DS_Store
Clipboard.xcodeproj/project.xcworkspace/xcuserdata/borrower.xcuserdatad/UserInterfaceState.xcuserstate
Clipboard.xcodeproj/project.xcworkspace/xcuserdata/ceili.xcuserdatad/UserInterfaceState.xcuserstate
